<!DOCTYPE html>
<html>
    <head>
        <title>Formulário de edição de dados da pessoa</title>
    </head>
    <body>
        <h1>Edição de dados de pessoa</h1>
        <form action=/alterar_pessoa>
            Nome: <input type=text name=nome value="{{pessoa.nome}}"> <br>
            Endereço: <textarea name=endereco>{{pessoa.endereco}}</textarea> <br>
            Telefone: <input type=text name=telefone value="{{pessoa.telefone}}">
            <input type=submit value=Alterar>
            <input type=hidden name=nome_original value="{{pessoa.nome}}">
        </form>        
    </body>
</html>